<div
class="min-w-screen
h-full

bg-teal-900
flex
items-center
justify-center
px-5
py-5">

 <div class ="w-full
   mx-auto
   rounded-xl
   bg-grey-100
   shadow-xl
   text-gray-800
   relative"
   style="max-width: 350px">
   <h1 class="text-center text-white py-10 text-3xl font-bold">Calculator</h1>
    <!-- calcuator screen -->
    <div class="w-full
      h-40
      bg-gradient-to-b
      from-gray-800
      to-gray-700
      text-right">
      <!-- fuction screen -->
      <div class="function_screen">
        {{funcT}}
      </div>
       <!-- number screen -->
       <div class="w-full
         py-5
         px-6
         text-6xl
         text-white
         font-thin">
         {{calValue | number}}
         </div>
        <!-- end calculator screen -->
        <!-- calculator button area -->
         <div class ="w-full
         bg-gradient-to-b
         from-red-500
         to-red-800">
        <!-- first button row -->
         <div class="flex w-full">
          <!-- clear button -->
          <div class="w-2/4 border-r border-b border-red-400">
           <button class="w-full
           h-16
           outline-none
           hover:bg-red-700 hover:bg-opacity-20
           text-white
           bg-red-700

           text-xl
           font-light"
           (click)="onClickValue('c','function')"> C </button>
          </div>
          <!-- end clear button -->
          <!-- percentage button -->
          <div class="w-1/4 border-r border-b border-red-400">
            <button class="button_class
            text-white"
            (click)="onClickValue('%','function')">%

            </button>
          </div>
          <!-- end percentage button -->
          <!-- multiplication button -->
          <div class="w-1/4 border-r border-b border-red-400">
            <button
            class="button_class"
            (click)="onClickValue('*','function')">*

            </button>

          </div>
        </div>
       <!-- start second button area -->
       <div class="flex w-full">
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('7','number')">7

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('8','number')">8

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('9','number')">9

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('/','function')">/

          </button>

        </div>
       </div>
       <!-- end of second button area -->
       <!-- start of 3rd button area -->
       <div class="flex w-full">
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('4','number')">4

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('5','number')">5

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('6','number')">6

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('-','function')">-

          </button>

        </div>

       </div>
       <!-- end of 3rd button area -->
       <!-- start of 4th button area -->
       <div class="flex w-full">
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('1','number')">1

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('2','number')">2

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('3','number')">3

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('+','function')">+

          </button>

        </div>

       </div>
       <!-- end of 4th button area -->
       <!-- start of 5th area button -->
       <div class="flex w-full">
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('+/-','function')">+/-

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('0','number')">0

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('.','number')">.

          </button>

        </div>
        <div class="button_size">
          <button class="button_class"
          (click)="onClickValue('=','function')">=

          </button>

        </div>

       </div>


     </div>


    </div>
  </div>

</div>
